/site
/reagent-mvsa.iml
/.idea
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
/figwheel_server.log
.DS_Store
/examples/*/target
/examples/*/figwheel_server.log
/examples/*/resources/public/js/compiled