/site
/reagent-mvsa.iml
/.idea
pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
/figwheel_server.log
.DS_Store
/examples/todomvc/target
/examples/todomvc/figwheel_server.log
/examples/todomvc/resources/public/js/compiled
/examples/counter/target
/examples/counter/figwheel_server.log
/examples/counter/resources/public/js/compiled